<!-- <p>calender works!</p> -->
<full-calendar 
  #fullcalendar
  [options]="calendarOptions"
  [deepChangeDetection]="true"
>
</full-calendar>
<!-- <button (click)="panel.toggle($event)">toggle weekends</button> -->
<!-- <button (click)="handleClick()">toggle weekends</button> -->

<p-overlayPanel #panelEvent [dismissable]="true" [showCloseIcon]="true" styleClass="center-div">
  <ng-template pTemplate>
    <p-avatar label="M"></p-avatar> {{ eventSelected.event.title }}
    
    <p-divider></p-divider>
    <div *ngIf="!eventSelected.event.allDay">
      <p><span style="font-weight: bold;">Starts:</span> {{eventSelected.event.start | date:'d MMM, h:mm a'}}</p>
      <p><span style="font-weight: bold;">Ends:</span> {{eventSelected.event.end | date:'d MMM, h:mm a'}}</p>
    </div>
    <div *ngIf="eventSelected.event.allDay">
      <p><span style="font-weight: bold;">วันที่:</span> {{eventSelected.event.start | date:'d MMM y'}} (ทั้งวัน)</p>
    </div>
    <p><span style="font-weight: bold;">รูปแบบการประชุม:</span> {{ eventSelected.event.extendedProps.type }}</p>
    <p><span style="font-weight: bold;">ผู้ทำการนัดหมาย:</span> <p-tag [value]="translateUser(eventSelected.event.extendedProps.boss_id)" severity="warning" class="mr-1"></p-tag></p>
    <p><span style="font-weight: bold;">ผู้เข้าร่วมการประชุม: </span>
      <span *ngFor="let user_id of eventSelected.event.extendedProps.participant_id">
        <p-tag [value]="translateUser(user_id)" class="mr-1"></p-tag>
      </span>
    </p>
    <p><span style="font-weight: bold;">รายละเอียดการประชุม:</span> {{eventSelected.event.extendedProps.detail}}</p>
    <!-- <p>{{eventSelected.event.extendedProps.detail}}</p> -->
    <p-divider></p-divider>
    <button pButton label="แก้ไข" (click)="editEvent()" class="p-button-warning mr-3"></button>
    <button pButton label="ลบ" (click)="deleteEvent()" class="p-button-danger mr-3"></button>
    <span *ngIf="eventSelected.event.extendedProps.type === 'online'">
      <a [href]="eventSelected.event.extendedProps.meeting_link" pButton >Link for meeting</a>
    </span>
    
  </ng-template>
</p-overlayPanel>