<div class="box__login flex flex-column align-items-center justify-content-center">
  <div class="">
    <h5>Advanced</h5>
    <div class="formgrid grid">
        <div class="field col-12 md:col-6">
            <label for="firstname6">Firstname</label>
            <input pInputText id="firstname6" type="text" class="inputfield w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">Lastname</label>
            <input pInputText id="lastname6" type="text" class="inputfield w-full">
        </div>
        <div class="field col-12">
            <label for="address">Address</label>
            <textarea  id="address" type="text" rows="4" class="inputfield w-full"></textarea>
        </div>
        <div class="field col-12 md:col-6">
            <label for="city">City</label>
            <input pInputText id="city" type="text" class="inputfield w-full">
        </div>
        <div class="field col-12 md:col-3">
            <label for="state">State</label>
            <select id="state" class="w-full inputfield" style="appearance: auto">
                <option>Arizona</option>
                <option>California</option>
                <option>Florida</option>
                <option>Ohio</option>
                <option>Washington</option>
            </select>
        </div>
        <div class="field col-12 md:col-3">
            <label for="zip">Zip</label>
            <input pInputText id="zip" type="text" class="inputfield w-full">
        </div>
    </div>
  </div>
  
</div>