.box__login {
  width: 800px;
  height: 500px;

  position: fixed;
  top:10%;
  left: 23%;

  background-color: antiquewhite;
  border-radius: 5px;
  // border-style: solid;
  box-shadow: 0 2rem 6rem rgba(0,0,0,.3);

  &--content {
    width: inherit;
    height: inherit;
  }
}