<div class="box__login flex flex-column align-items-center justify-content-center">
  <!-- justify-content-center เพื่อให้อยู่ตรงกลางในแนวตั้ง -->
  <!-- align-items-center เพื่อให้อยู่ตรงกลางในแนวนอน -->

    <div class="flex flex-column align-items-center">
      <div>
        <h1>login works!</h1>
      </div>
      <div>
        <a pButton pRipple 
          type="button"
          label="Login with CMU account"
          routerLink="/admin/home"
        >
        <!-- href="{{apiUrl}}/api/login" -->
        </a>    
      </div>
    </div>
  
</div>

<!-- flex ถ้าไม่ใส่ มันจะไม่เป็น flex ด้วยซำ้ -->
<!-- align-items-center: ให้อยู่ center ตามแนว cross axis -->