<div class="box__login flex flex-column align-items-center justify-content-center">
  <!-- justify-content-center เพื่อให้อยู่ตรงกลางในแนวตั้ง -->
  <!-- align-items-center เพื่อให้อยู่ตรงกลางในแนวนอน -->

    <div class="flex flex-column align-items-center">
      <!-- <div class="card"> -->
      <div>
        <div class="field">
          <label for="firstname1">Email</label>
          <input pInputText id="firstname1" type="text" class="inputfield w-full" >
        </div>
        <div class="field">
          <label for="lastname1">Password</label>
          <input pInputText id="lastname1" type="password" class="inputfield w-full">
        </div>
      </div>
      <div>
        <button pButton pRipple 
          type="button"
          label="Login"
          routerLink="/admin/home"
          class="mr-2"
        >
        <!-- href="{{apiUrl}}/api/login" -->
        </button>
        <button pButton pRipple 
          type="button"
          label="Sign Up"
          routerLink="/register"
        >
        </button>
      </div>
    </div>
  
</div>

<!-- flex ถ้าไม่ใส่ มันจะไม่เป็น flex ด้วยซำ้ -->
<!-- align-items-center: ให้อยู่ center ตามแนว cross axis -->