:root {
  --color-primary:#F13596;
  --color-white: #FFFFFF;
  --color-yellow: #E3A831;
  --color-primary-light: #FEF5FA;
  
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
}

$color-primary-light: #FEF5FA;